<footer style="display:block; clear:both; background-color:green">
      <div class="footer" id="footer">
            <div class="footer-contacto">
                  <P>¿Dudas?</P>
                  <P>¿Preguntas</P>
                  <h4>¡CONTACTANOS!</h4>
                  <h4><i class="far fa-envelope"></i> Correo PerfectPhone@gmail.com</h4>
                  <h4><i class="fab fa-whatsapp"></i> Whatsapp 11-57215382</h4>
            </div>

            <div class="footer-redes">
                  <h4>SIGUENOS</h4>
                  <P>EN NUESTRAS REDES SOCIALES</P>
                  <p><a href="#"><i class="fab fa-facebook"></i>Facebook</a></p>
                  <p><a href="#"><i class="fab fa-instagram"></i>Instagram</a></p>
                  <p><a href="#"><i class="fab fa-twitter"></i></i>Twitter</a></p>
            </div>

            <div class="footer-derechos">
                  <img src="/images/logo.jpg" class="logo">
                  <p>Accesorios para dispositivos móviles</p>
                  <h6>Copyrigh Perfect Phone 2021</h6>
            </div>     
      </div>    
</footer>