<header>
  <div class="col-12 col-s-12 topnav" style="display:block; clear:both;">
    <div>
      <img src="/images/logo.jpg" class="logo">
      <input type="text" placeholder="Buscar..." class="barrabusqueda">
      <button type="button" class="barrabusqueda-btn"><i class="fa fa-search"></i></button>
      
      <div class="topnav-right">
        <a href="/" class="enlace-menu"><i class="fa fa-fw fa-home"></i> Inicio</a>
        <div class="dropdown">
          <button class="dropbtn"><i class="fa fa-caret-down"></i> Productos</button>
          <div class="dropdown-content">
            <a href="/productos">Auriculares y Cargadores</a>
            <a href="#">Aros de luz y Soportes</a>
            <a href="#">Airpods y Cornetas</a>
            <a href="#">Relojes inteligentes</a>
          </div>
        </div>     
        <a href="#footer"><i class="fa fa-fw fa-envelope"></i> Contactos</a>
        <a href="/formularioUsuario"><i class="fa fa-fw fa-user"></i> Ingresar</a>
        <a href="/carrito"><i class="fas fa-shopping-cart"></i> Mis compras</a>
      </div>
    </div>
  </div>
</header>